h1 Employee Log-in
form(action='/eLogin', method="POST")
  | Username:
  br
  input(type='text', name='username')
  br
  |   Password:
  br
  input(type='password', name='password')
  br
  br
  input(type='submit', value='Submit')
h4 
    a(href="eRegister") New employee?