h1 Employee Register
form(method='POST', action='/eLogin/eRegister')
  #form-group
    label Username:
    input.form-control(name='username', type='text')
  #form-group
    label First Name:
    input.form-control(name='firstname', type='text')
  #form-group
    label Last name:
    input.form-control(name='lastname', type='text')
  #form-group
    label Password:
    input.form-control(name='password', type='password')
  br
  input.btn.btn-primary(type='submit', value='Submit')