doctype html
html
  head
    title Library Management System
    
  body
    .container
      
      
      block content
      br
      hr
      footer
        p Library Management System &copy; 2018
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src='/js/delete.js')  
