h1 User Log-in
form(action='/action_page.php')
  | Username:
  br
  input(type='text', name='username')
  br
  |   Password:
  br
  input(type='password', name='password')
  br
  br
  input(type='submit', value='Submit')
h4 
    a(href="uRegister") New user?