h1 User Register
form(method='POST', action='/uLogin/uRegister')
  | Username:
  br
  input(type='text', name='username')
  br
  br
  | First name:
  br
  input(type='text', name='firstname')
  br
  br
  | Last name:
  br
  input(type='text', name='lastname')
  br
  br
  |   Password:
  br
  input(type='password', name='password')
  br
  br
  input(type='submit', value='Submit')